/* apps/frontend/app/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    margin: 0;
    font-family: system-ui, sans-serif;
    background-color: #f9f9f9;
    color: #111;
  }
  